.container {
  text-align: center;
  text-decoration: none;
}

.container {
  background-color: #c9d4e7;
  height:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(15, 93, 129);
  padding-bottom: 100px;
}

.App-link {
  color: white;

}
.header-span{
  color: #306794;
  text-align: center;
}
.li ul{
  text-decoration: none;
}
.Options{
  text-align: center;
  
}